<div class="col-12">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Project Name"
            name="name">
        <label for="floatingInput">Project Name</label>
    </div>
</div>

<div class="col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Describe your Project" id="description" name="description"
            style="height: 200px">{{this.description}}</textarea>
        <label for="description">Description</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>