/* src/App.css */
.text-left{
    text-align: left;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5); 
}

.issue {
    border-radius: 5px;
}

.issue:hover, .issue:focus{
    background-color: #e0e0e0 !important;
}

.issue-status {
    /* border: 1px solid #e0e0e0; */
    padding: 0;
}

.issue-creator {
    /* border-radius: 50%;
    background-color: #455a64;
    width: 40px;
    height: 40px;
    color: white;
    padding: 5px; */
}

.status-type{
    background-color: #eeeeee !important;
    font-weight: 400 !important;
    color:#455a64;
    margin: 5px;
}

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    opacity: 0; /* Start with opacity 0 */
    animation: fadeInOut 3s ease-in-out forwards;    
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

.sprint-dashboard {
    /* text-align: center; */
}

.sprint-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: calc(25% - 32px);
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    font-size: 16px;
    /* Add transition for smooth effect */
}

.sprint-details h2 {
    color: #555;
    font-size: 36px;
    margin-bottom: 8px;
    text-align: center;
    /* Center the heading */
}

.sprint-dashboard h1 {
    color: #555;
    font-size: 54px;
    margin-bottom: 12px;
    text-align: center;
    /* Center the heading */
}


/* Add hover effect to scale the card */
.sprint-details:hover {
    transform: scale(1.05);
    /* Scale the card on hover */
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}